#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}


.memory-game {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 20px auto;
  justify-content: center;
  perspective: 1000px;
}

.card {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  backface-visibility: hidden;
}

.card-front {
  background-color: #333;
  color: #fff;
}

.card-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
}

.card.matched .card-back {
  background-color: #4caf50;
  /* Vert pour les cartes trouvées */
  color: #fff;
}

.replay-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background 0.3s;
}

.replay-button:hover {
  background-color: #0b7dda;
}